# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual Environment
.env
.venv/
venv/

# VS Code
.vscode/
.idea/

# Logs
logs/*.log
*.sqlite3

# Python cache
.pytest_cache/

# Operating System
.DS_Store
Thumbs.db

*.tmp
*.bak