<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>SentinelShield | Access Blocked</title>

</head>

<body style="font-family:Arial;background:#111827;color:white;text-align:center;padding:60px;">

    <h1 style="color:#ef4444;">
        🛡 SentinelShield
    </h1>

    <hr>

    <h2>
        🚫 Access Denied
    </h2>

    <p>
        Your request has been identified as malicious and has been blocked.
    </p>

    <h3 style="color:#facc15;">
        {{ attack }}
    </h3>

    <p>
        Client IP :
        {{ ip }}
    </p>

    <p>
        HTTP Status :
        <b>403 Forbidden</b>
    </p>

    <hr>

    <p style="color:gray;">
        Protected by SentinelShield Advanced Web Protection System
    </p>

</body>

</html>